.container {
    margin-top: 20px;
}
#formContainer {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
/* Estilos de urgencias.html */
.prioridad {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0;
    height: 50px;
    border-radius: 5px;
    color: white;
}
input[type="radio"] {
    display: none;
}
.prioridad:has(input[type="radio"]:checked) {
    border-color: #000;
    background-color: #e0e0e0;
}
.priority-label {
    font-weight: bold;
    width: 100%;
    height: 100%;
}
.high-priority {
    color: #ff4d4d;
}
.emergency {
    color: #ff8800;
}
.urgent {
    color: #ffcc00;
}
.safe {
    color: #3399ff;
}
.low-priority {
    color: #33cc33;
}
