.container {
    margin-top: 20px;
}
#formContainer {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
/* Estilos de urgencias.html */
.prioridad {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0;
    height: 50px;
    border-radius: 5px;
    color: white;
}

